<div class='container col-md-4'>
	<%= form_for @del do |del_f| %>

		<%= del_f.label :first_name %>
		<%= del_f.text_field :first_name, class:'form-control' %>

		<%= del_f.label :last_name %>
		<%= del_f.text_field :last_name, class:'form-control' %>
	
		<%= del_f.label :street_address_1 %>
		<%= del_f.text_field :street_address_1, class:'form-control' %>
	
		<%= del_f.label :street_address_2 %>
		<%= del_f.text_field :street_address_2, class:'form-control' %>
	
		<%= del_f.label :city %>
		<%= del_f.text_field :city, class:'form-control' %>
	
		<%= del_f.label :country %>
		<%= del_f.text_field :country, class:'form-control' %>
	
		<%= del_f.label :postcode %>
		<%= del_f.text_field :postcode, class:'form-control' %>
	
		<%= del_f.label :phone %>
		<%= del_f.text_field :phone, class:'form-control' %>

		<%= del_f.submit @del.new_record? ? 'Create del Address' : 'Update', class: 'btn btn-primary' %>
		<% unless @del.new_record? %>
			<%= link_to 'Delete', delivery_address_path(@del), method: :delete, confirm: 'Are you sure?', class:'btn btn-danger' %>
		<% end %>
	<% end %>
</div>