<%  # If the order is in the confirmation stage this variable will be true
		confirmation = @order.status == 'confirmation' ? true : false 
%>

<div class="container">
	
	<h2>User</h2>

	<%= link_to "Back", :back, class:"btn btn-primary" %> 

	<%= form_for @order do |f| %>
		<div class="col-md-4">
		<form class="form-signin">
			
			<%= f.hidden_field :user_id, value: current_user.id %>

			<%= f.label :email %>
			<%= f.email_field :email , class:'form-control', value: form_value(:email) %>
		
	<br>

		<h2>Billing Address</h2>
			<%= fields_for confirmation ? @bill_address : :bill_address, @order.bill_address do |bill_f| %>
				<%= render partial: 'bill_address_form_content', locals: {bill_f: bill_f} %>
			<% end %>

			</div>
		<div class="col-md-offset-4 col-md-4">
		<br><br><br>
		<label class="category-select">
			<%= check_box_tag 'delivery' %>
			Use Billing Address
		</label>
		<div id="delivery_div">
			<h2>Delivery Address</h2>
			<%= fields_for confirmation ? @delivery_address : :delivery_address, @order.delivery_address do |delivery_f| %>
				<%= render partial: 'delivery_address_form_content', locals: {delivery_f: delivery_f} %>
			<% end %>
		</div>
		<%= f.submit 'Submit', class:'btn btn-success' %>
		</div>

		
		</form>
		<br>
	<% end %>

</div>

<script>

	var delivery_check = $('#delivery')
	var bill_fields = $('#bill_div input')
	var delivery_fields = $('#delivery_div input')
	var bill_values = []
	var delivery_values = []

	delivery_check.click(function(){
		if ($(delivery_check)[0].checked == true) {
			for (i = 0; i < bill_fields.length; i++) {
				bill_values.push($(bill_fields[i]).val());
			};
			for (i = 0; i < delivery_fields.length; i ++) {
				$(delivery_fields[i]).val(bill_values[i]);
			};
		} else {
			for (i = 0; i < delivery_fields.length; i++){
				$(delivery_fields[i]).val('');
			};
		};
});

</script>