<div class="container">
	
	<h2>User</h2>

	<%= link_to "Back", :back, class:"btn btn-primary" %> 

	<%= form_for @order do |f| %>
		<div class="col-md-4">
		<form class="form-signin">
			
			<%= f.hidden_field :user_id, value: current_user.id %>

			<%= f.label :email %>
			<%= f.email_field :email , class:'form-control' %>
		
	<br><br>

		<h2>Billing Address</h2>
		
		<%= fields_for :bill_address, @order.bill_address do |bill_f| %>
			<div id="bill_div">
			<%= bill_f.hidden_field :user_id, value: current_user.id %>

				<%= bill_f.label :first_name %>
				<%= bill_f.text_field :first_name, class:'form-control' %>

				<%= bill_f.label :last_name %>
				<%= bill_f.text_field :last_name, class:'form-control' %>
			
				<%= bill_f.label :street_address_1 %>
				<%= bill_f.text_field :street_address_1, class:'form-control' %>
			
				<%= bill_f.label :street_address_2 %>
				<%= bill_f.text_field :street_address_2, class:'form-control' %>
			
				<%= bill_f.label :city %>
				<%= bill_f.text_field :city, class:'form-control' %>
			
				<%= bill_f.label :country %>
				<%= bill_f.text_field :country, class:'form-control' %>
			
				<%= bill_f.label :postcode %>
				<%= bill_f.text_field :postcode, class:'form-control' %>
			
				<%= bill_f.label :phone %>
				<%= bill_f.text_field :phone, class:'form-control' %>
					</div>
		<% end %>

			</div>
		<div class="col-md-offset-4 col-md-4">
		<br><br><br><br>
		<label class="category-select">
			<%= check_box_tag 'delivery' %>
			Use Billing Address
		</label>
		<div id="delivery_div">
			<h2>Delivery Address</h2>
			<%= fields_for :delivery_address, @order.delivery_address do |delivery_f| %>

				<%= delivery_f.hidden_field :user_id %>

					<%= delivery_f.label :first_name %>
					<%= delivery_f.text_field :first_name, class:'form-control' %>
				
					<%= delivery_f.label :last_name %>
					<%= delivery_f.text_field :last_name, class:'form-control' %>
				
					<%= delivery_f.label :street_address_1 %>
					<%= delivery_f.text_field :street_address_1, class:'form-control' %>
				
					<%= delivery_f.label :street_address_2 %>
					<%= delivery_f.text_field :street_address_2, class:'form-control' %>
				
					<%= delivery_f.label :city %>
					<%= delivery_f.text_field :city, class:'form-control' %>
				
					<%= delivery_f.label :country %>
					<%= delivery_f.text_field :country, class:'form-control' %>
				
					<%= delivery_f.label :postcode %>
					<%= delivery_f.text_field :postcode, class:'form-control' %>
				
					<%= delivery_f.label :phone %>
					<%= delivery_f.text_field :phone, class:'form-control' %>

			<% end %>
		</div>
		<%= f.submit 'Submit', class:'btn btn-success' %>
		</div>

		
		</form>
		<br><br>
	<% end %>

</div>

<script>

	var delivery_check = $('#delivery')
	var bill_fields = $('#bill_div input')
	var delivery_fields = $('#delivery_div input')
	var bill_values = []
	var delivery_values = []

	delivery_check.click(function(){
		if ($(delivery_check)[0].checked == true) {
			for (i = 0; i < bill_fields.length; i++) {
				bill_values.push($(bill_fields[i]).val());
			};
			for (i = 0; i < delivery_fields.length; i ++) {
				$(delivery_fields[i]).val(bill_values[i]);
			};
		} else {
			for (i = 0; i < delivery_fields.length; i++){
				$(delivery_fields[i]).val('');
			};
		};
});

</script>