<h1>New Order</h1>

<%# render 'form' %>

<section class="content">
	<div role="tabpanel">
		<div class="nav-tab-customs">
			<ul class="nav nav-tabs">
				<%= get_pill('Order', '#home', a_class: 'tab_toggle', li_id: 'tab1', a_id: 'tabahref1', li_class: 'tabby active', onclick: 'showTab(this);') %>

        <%= get_pill('Payment', '#payment', a_class: 'tab_toggle', li_id: 'tab2', a_id: 'tabahref2', li_class: 'tabby', onclick: 'showTab(this); ') %>
			</ul>
		</div>
	</div>
	<br>

	 <div class="tab-content row">
    <div role="tabpanel" class="tab-pane fade active in" id="home">
      <div class="col-md-12 fields_holder">
        <% flash.each do |name, msg| %>
            <% next if excluded_flash_keys.include? name
               if name == 'notice'
                 alert_class = 'alert-success'
               elsif name == 'error'
                 alert_class = 'alert-login'
               else
                 alert_class = 'alert-warning'
               end %>
            <% unless name == 'error' && msg == "You must be logged in to access this page" %>
                <div id="flashContainer" class="alert <%= alert_class %> alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <div id="flashMessage">
                    <%= msg %>
                  </div>
                </div>
            <% end %>
        <% end %>
        
        <h1>Order</h1>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="payment">
      <div class="col-md-12 fields_holder">
        <% flash.each do |name, msg| %>
            <% next if excluded_flash_keys.include? name
               if name == 'notice'
                 alert_class = 'alert-success'
               elsif name == 'error'
                 alert_class = 'alert-login'
               else
                 alert_class = 'alert-warning'
               end %>
            <% unless name == 'error' && msg == "You must be logged in to access this page" %>
                <div id="flashContainer" class="alert <%= alert_class %> alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <div id="flashMessage">
                    <%= msg %>
                  </div>
                </div>
            <% end %>
        <% end %>
        
        <h1>Payment</h1>

      </div>
    </div>
  </div>
	
</section>

<script>
	 $(document).ready(function () {
        showTheTab();
    });
    function showTheTab() {
        url_args = window.location.href.split('/').pop().split('#');
        if (url_args[1] == "home") {
            showTab($('li#tab1').children()[0]);
        } else if (url_args[1] == "payment") {
        //	debugger;
        //    $('.nav-tabs a[href=#' + url_args[1] + ']').tab('show');
        	 showTab($('li#tab2').children()[0]);
        }
        $('div.tab-pane.active').find('input:not([type=hidden]):first').delay(500).focus(0);
    };
</script>